

.banner_image{
padding-top: 5%;
padding-bottom: 5%;
text-align: left;
background-image:url("img/banner_image.png");
background-size: cover;
background-position: center;
}

.banner_content{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 5%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer{
    background-color: black;
    color:gray;
    padding: 10px 0px;
    width: 100%;
    bottom: 0%;
    font-size: 15px;
    position:fixed;
}

.nav-item{
    text-decoration:none;
    padding:left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5%;
    color:black;
}
